<div>
  <h1>Welcome to PocketBase with Angular!</h1>
  <button (click)="navigateToLogin()">Login</button>
  <button (click)="logout()">Logout</button>
  <button (click)="fetchRecords()">Fetch Records</button>
  <button (click)="incrementCounter()">Increment</button>
  <button (click)="hello()">Hello World</button>
  
  <!-- <div *ngIf="records.length > 0">
    <h2>Records:</h2>
    <ul>
      <li *ngFor="let record of records">{{ record | json }}</li>
    </ul>
  </div>
  
  <div *ngIf="records.length === 0">
    <p>No records found.</p>
  </div> -->

  <div *ngIf="data$ | async as data; else loading">
    Data: {{ data | json}}
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>


</div>
<router-outlet></router-outlet>